<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.PromotionAdMapper">

    <resultMap id="promotionAdResultMap" type="org.example.domain.PromotionAd">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="spaceId" column="spaceId"></result>
        <result property="keyword" column="keyword"></result>
        <result property="htmlContent" column="htmlContent"></result>
        <result property="text" column="text"></result>
        <result property="link" column="link"></result>
        <result property="startTime" column="startTime"></result>
        <result property="endTime" column="endTime"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="status" column="status"></result>
        <result property="priority" column="priority"></result>
        <result property="img" column="img"></result>
        <association property="promotionSpace" select="org.example.mapper.PromotionSpaceMapper.findPromotionSpaceById"
                     column="spaceId"
                     javaType="org.example.domain.PromotionSpace">
        </association>
    </resultMap>
    <update id="updatePromotionAdStatus" parameterType="org.example.domain.PromotionAd">
        update promotion_ad set status = #{status}, updateTime = #{updateTime} where id = #{id}
    </update>

    <select id="findAllPromotionAdByPage" resultMap="promotionAdResultMap">
        select * from promotion_ad
    </select>
</mapper>