<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.PromotionAdMapper">

    <resultMap id="promotionAdResultMap" type="org.example.domain.PromotionAd">
        <id property="id" column="id" javaType="int"></id>
        <result property="name" column="name" javaType="string"></result>
        <result property="spaceId" column="spaceId" javaType="int"></result>
        <result property="keyword" column="keyword" javaType="string"></result>
        <result property="htmlContent" column="htmlContent" javaType="string"></result>
        <result property="text" column="text" javaType="string"></result>
        <result property="link" column="link" javaType="string"></result>
        <result property="startTime" column="startTime" javaType="date"></result>
        <result property="endTime" column="endTime" javaType="date"></result>
        <result property="createTime" column="createTime" javaType="date"></result>
        <result property="updateTime" column="updateTime" javaType="date"></result>
        <result property="status" column="status" javaType="int"></result>
        <result property="priority" column="priority"></result>
        <result property="img" column="img" javaType="string"></result>

        <association property="promotionSpace" select="org.example.mapper.PromotionSpaceMapper.findPromotionSpaceById"
                     column="spaceId"
                     javaType="org.example.domain.PromotionSpace">
        </association>

    </resultMap>
    <insert id="savePromotionAd" parameterType="org.example.domain.PromotionAd">
        insert into promotion_ad(name, spaceId, startTime, endTime, status, img, link, text, createTime, updateTime)
        values(#{name}, #{spaceId}, #{startTime}, #{endTime}, #{status}, #{img}, #{link}, #{text}, #{createTime}, #{updateTime})
    </insert>

    <update id="updatePromotionAdStatus" parameterType="org.example.domain.PromotionAd">
        update promotion_ad set status = #{status}, updateTime = #{updateTime} where id = #{id}
    </update>

    <update id="updatePromotionAd" parameterType="org.example.domain.PromotionAd">
        update promotion_ad
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="spaceId != null and spaceId != ''">
                spaceId = #{spaceId, javaType=int},
            </if>
            <if test="startTime != null">
                startTime = #{startTime},
            </if>
            <if test="endTime != null">
                endTime = #{endTime},
            </if>
            <if test="status != null and status != ''">
                status = #{status, javaType=int},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="link != null and link != ''">
                link = #{link},
            </if>
            <if test="text != null and text != ''">
                text = #{text},
            </if>
            <if test="updateTime != null ">
                updateTime = #{updateTime},
            </if>
        </trim>
        <!-- 注意：有个隐患就是当传入参数为空的时候，可能会造成全表查询。-->
        <where>
            <if test="id != null and id != '' or id == 0">
                id = #{id, javaType=int}
            </if>
        </where>
    </update>

    <select id="findAllPromotionAdByPage" resultMap="promotionAdResultMap">
        select * from promotion_ad
    </select>

    <select id="findPromotionAdById" resultType="org.example.domain.PromotionAd" parameterType="int">
        select * from promotion_ad where id = #{id}
    </select>
</mapper>