<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ResourceMapper">

    <select id="findAllResourceByPage" resultType="org.example.domain.Resource"
            parameterType="org.example.domain.ResourceVO">
        select * from resource
        <where>
            <if test="name != null and name != ''">
                and name like concat("%",#{name},"%")
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="categoryId != null and categoryId != '' or id == 0">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

</mapper>